@button-height: 32px;

.button {
  cursor: pointer;
  height: @button-height;
  line-height: @button-height;
}

// 普通按钮
.common {
  .button;
}

// 登录按钮
.signUp {
  .button;
  background-color: black;
  color: white;

  padding: 0 12px;
  border-radius: 5px;
}

// 主要按钮
.main {
  cursor: pointer;
  background-color: black;
  color: white;

  font-size: 1rem;
  font-weight: 500;

  padding: 10px 25px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

// 图片按钮
.img{
  
}