// .dashboard-tabs-content {
//   display: flex;
//   justify-content: center;
//   font-size: 14px;
//   line-height: 24px;
//   min-height: calc(100vh - 85px);
//   padding-left: 0;
//   padding-right: 0;
// }
.dashboard-tabs-nav {
  position: sticky;
  top: 0px;
}
.dashboard-content {
  margin-top: -10px;
}
.dashboard-wrapper {
  background-color: #fafafa;
  min-height: calc(100vh - 84px);
  border-top: 1px solid #eaeaea;
}
