.myDesign-tabs {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  display: flex;
}
.myDesign-tabs-top,
.myDesign-tabs-bottom {
  flex-direction: column;
}
.myDesign-tabs-nav-container {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
}
.myDesign-tabs-content-container {
  flex: auto;
  min-width: 0;
  min-height: 0;
}
.myDesign-tabs-content {
  display: flex;
  width: 100%;
}
