.myDesign-card {
  width: var(--width, 480px);
  padding: 32px;
}

.myDesign-card-common {
  .myDesign-card;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background: #fff;
  border: 1px solid #eaeaea;
}

.myDesign-card-clone {
  .myDesign-card;
  box-shadow: none;
  background: #fafafa;
  border: 1px solid #eaeaea;
  border-radius: 8px;
}
.myDesign-card-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myDesign-card-title {
  color: var(--color, #000000);
  letter-spacing: -0.029375rem;
  font-weight: 600;
}
