.myDesign-space {
  display: flex;
  justify-content: var(--justify, initial);
  align-items: var(--align, initial);
}
.myDesign-space-row {
  flex-direction: row;
}
.myDesign-space-column {
  flex-direction: column;
}

.myDesign-space-align-start {
  align-items: flex-start;
}

.myDesign-space-align-end {
  align-items: flex-end;
}

.myDesign-space-align-center {
  align-items: center;
}

.myDesign-space-align-baseline {
  align-items: baseline;
}

.myDesign-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: var(--page-width-with-margin);
  padding-left: var(--geist-page-margin);
  padding-right: var(--geist-page-margin);
}

.myDesign-wrapper-full.myDesign-wrapper {
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
}
