.curFooter-container {
  padding-bottom: 24px;
}
.curFooter-title {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 2px;
  color: #888;
}
.curFooter-list-item {
  font-size: 2rem;
  color: #888;
}
